@import "tailwindcss";

#root,
html,
body {
  width: 100%;
  height: 100vh;
  font-family: "BPG ExtraSquare", sans-serif;
  background-color: #f2f0f0;
}

@theme {
  --color-dark: #111827;
  --color-grey: #374151;
  --color-light-grey: #4b5563;
  --color-green: #16a34a;
  --color-red: #dc2626;
  --color-light-green: #dcfce7;

  --breakpoint-lg: 1080px;
}

@font-face {
  font-family: "BPG ExtraSquare";
  src: url("public/fonts/BPG-ExtraSquare.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
